<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="60">
    <Properties>
        <Property name="LOG_HOME">~/export/Logs/couponorder.soa.360buy.com</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%MDC{trace}] [%thread] %class{1.} %M %L -- %msg%xEx%n"/>
        </Console>

        <!--日志打印工具-->
        <RollingFile name="InfoFile" fileName="${LOG_HOME}/couponorderservice-info.log" filePattern="${LOG_HOME}/couponorderservice-info-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="8"/>
        </RollingFile>
        <RollingFile name="ErrorFile" fileName="${LOG_HOME}/couponorderservice-error.log" filePattern="${LOG_HOME}/couponorderservice-error-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="6"/>
        </RollingFile>
        <RollingFile name="WarnFile" fileName="${LOG_HOME}/couponorderservice-warn.log" filePattern="${LOG_HOME}/couponorderservice-warn-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="RpcInfoFile" fileName="${LOG_HOME}/couponorderservice-rpc-info.log" filePattern="${LOG_HOME}/couponorderservice-rpc-info-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="8"/>
        </RollingFile>
        <RollingFile name="RpcErrorFile" fileName="${LOG_HOME}/couponorderservice-rpc-error.log" filePattern="${LOG_HOME}/couponorderservice-rpc-error-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>

        <!--兰陵王日志埋点-->
        <RollingFile name="FlowErrorFile" fileName="${LOG_HOME}/flow.log" filePattern="${LOG_HOME}/flow-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p [%X{PFTID}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!--日志打印工具-->
        <AsyncLogger name="InfoLogger" level="INFO" additivity="false">
            <AppenderRef ref="InfoFile"/>
        </AsyncLogger>
        <AsyncLogger name="ErrorLogger" level="ERROR" additivity="false">
            <AppenderRef ref="ErrorFile"/>
        </AsyncLogger>
        <AsyncLogger name="RpcInfoLogger" level="INFO" additivity="false">
            <AppenderRef ref="RpcInfoFile"/>
        </AsyncLogger>
        <AsyncLogger name="RpcErrorLogger" level="ERROR" additivity="false">
            <AppenderRef ref="RpcErrorFile"/>
        </AsyncLogger>
        <!--兰陵王日志埋点-->
        <AsyncLogger name="FlowErrorLogger" level="ERROR" additivity="false">
            <AppenderRef ref="FlowErrorFile"/>
        </AsyncLogger>

        <!--        <AsyncRoot level="INFO" includeLocation="true">-->
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
            <!--测试时可以打开输出到控制台-->
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="InfoFile"/>
        </AsyncRoot>
    </Loggers>
</Configuration>